numpy==1.23.5
scikit-learn==1.2.0
streamlit~=1.27.0
folium~=0.14.0
geopandas~=0.13.2
pandas~=1.5.3
streamlit_folium
beautifulsoup4
pydantic
xgboost==1.7.5
shapely~=2.0.1
plotly==5.13.1
streamlit-modal
streamlit-js-eval
sqlalchemy
duckdb~=0.10.0
openai~=1.6.1
scipy~=1.9.3
langchain~=0.1.9
langchain-_experimental
langchain_community
streamlit-feedback
langchain-openai
langgraph
tabulate
chromadb
sqlparse